<% include ../partials/header %>

<div class="container">
  <div class="jumbotron text-center">
    <h1>Edit Comment</h1>
  </div>
  <div class="formContainer mx-auto">
    <form method="POST" action='/restaurants/<%= restaurant_id %>/comments/<%= comment._id %>?_method=PUT'>
      <div class="form-group">
        <input type="text" name="comment[text]" value="<%= comment.text %>" required>
      </div>
      <button class="btn btn-primary submitBtn">Submit</button>
    </form>
    <a href="/restaurants">Go Back</a>
  </div>
</div>

<% include ../partials/footer %>
