<% include partials/header %>

<div class="indexContainer">
  <img id="index" src="images/index.jpg" alt="restaurant">
  <h1 class="indexTitle">Restaurant Log</h1>
  <a class="btn btn-secondary indexButton" href="restaurants">Enter</a>
</div>

<% include partials/footer %>
