/* INDEX PAGE */

.indexContainer{
  position:relative;
  text-align: center;
  color:white;
  height:100%;
}

#index{
  width:100%;
}

.indexTitle{
  position:absolute;
  top:40%;
  left:35%;
  font-size: 48px;
}

.indexButton{
  position:absolute;
  top:50%;
  left:45%;
}

/* RESTAURANTS PAGE */

.row{
  display:flex;
  flex-wrap:wrap;
}

/* NEW RESTAURANT PAGE */

input{
  width:100%;
}

.submitBtn{
  width:100%;
}

/* SHOW PAGE */

.showImg{
  width:100%;
}

.cmntBtn{
  display:inline-block;
}

/* FORM PAGE */

.formContainer{
  width:30%;
}
